name: pipeline

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint:all

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install
        uses: bahmutov/npm-install@v1

      - name: Test
        run: yarn test
        env:
          CI: true

      - name: Publish Coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
    
  storybook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install
        uses: bahmutov/npm-install@v1
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
        
      - name: Build
        run: yarn build:storybook
      
      - name: Test
        uses: ianwalter/puppeteer@12728ddef82390d1ecd4732fb543f62177392fbb
        env:
          CI: true
        with:
          args: yarn workspace @betaflight/configurator storyshots

      - name: Publish test diff
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2-preview
        with:
          name: diff
          path: |
            packages/configurator/__image_snapshots__/__diff_output__/*
      
      - name: Preview
        if: github.ref != 'refs/heads/master'
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=packages/configurator/storybook-static
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_STORYBOOK_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      
      - name: Publish
        if: github.ref == 'refs/heads/master'
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=packages/configurator/storybook-static --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_STORYBOOK_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

  demo-api:
    runs-on: ubuntu-latest
    needs: [test, lint, storybook]

    steps:
      - uses: actions/checkout@v1

      - name: Login to Heroku
        env: 
          HEROKU_API_KEY: ${{ secrets.HEROKU_TOKEN }}
        run: heroku container:login 

      - name: Build
        run: docker build -t mock-api -f Dockerfile.web .

      - name: Push
        if: github.ref == 'refs/heads/master'
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_TOKEN }}
        run: 
          heroku container:push -a betaflight-mock-api web --recursive

      - name: Release
        if: github.ref == 'refs/heads/master'
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_TOKEN }}
        run: heroku container:release -a betaflight-mock-api web
  
  configurator:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    needs: [test, lint, storybook]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install
        uses: bahmutov/npm-install@v1

      - name: Build configurator
        run: yarn workspace @betaflight/configurator build

      - name: Ubuntu env
        if: matrix.os == 'ubuntu-latest'
        run:
          sudo apt-get update
          sudo apt-get install xvfb -y |
          export DISPLAY=:99 |
          sh -e /etc/init.d/xvfb start |
          sleep 3
      
      - name: E2E
        run: yarn e2e:production
      
      - name: Preview demo
        if: github.ref != 'refs/heads/master' && matrix.os == 'ubuntu-latest'
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=packages/configurator/build
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_DEMO_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      
      - name: Publish demo
        if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-latest'
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=packages/configurator/build --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_DEMO_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      - name: Release configurator
        if: startsWith(github.ref, 'refs/tags/@betaflight/configurator@')
        run: yarn workspace @betaflight/configurator release
        env:
          GH_TOKEN: ${{ secrets.github_token }}
          
      - name: Output Linux
        uses: actions/upload-artifact@v2-preview
        if: "!startsWith(github.ref, 'refs/tags/@betaflight/configurator@')"
        with:
          name: linux
          path: packages/configurator/dist/*.snap

      - name: Output Windows
        uses: actions/upload-artifact@v2-preview
        if: "!startsWith(github.ref, 'refs/tags/@betaflight/configurator@')"
        with:
          name: windows
          path: packages/configurator/dist/*.msi

      - name: Output MacOS
        uses: actions/upload-artifact@v2-preview
        if: "!startsWith(github.ref, 'refs/tags/@betaflight/configurator@')"
        with:
          name: macos
          path: |
            packages/configurator/dist/*.dmg
